<!doctype html>
<html>
<head>
<title>SIH</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
	<div class="cover filter">
		<div class="cover-inside">
			<div class="padded">
				<form method="get" action="/start">
					<button class="circular ui icon gigantic button">
						 <i class="hourglass start icon big"></i>
						 <div>
						 	<h3>Start </h3>
						 </div>
					</button>
				</form>
			</div>
			<div class="padded">
				<button class="circular ui icon gigantic button">
					 <i class="pencil alternate icon big"></i>
					 <div>
					 	<h3>Pending</h3>
					</div>
				</button>
			</div>
			<div class="padded">
				<form method="get" action="/history">
					<button class="circular ui icon gigantic button">
						 <i class="history icon big"></i>
						 <div>
						 	<h3>History</h3>
						</div>
					</button>
				</form>
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>