<!doctype html>
<html>
<head>
	<title>SIH</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_styles.css') }}"/>
</head>
<body>
	<div class="cover filter">
		<div class="cover-inside">
			<div class="padded">
				<div class="ui three item menu">
				  <a class="item" href="/">Home</a>
				  <a class="item" href="/history">History</a>
				  <a class="item">Pending</a>
				</div>
				<form method="POST" action="/start">
				<h1>{{pl_number_object['PL Number']}}</h1>
				<div class="radio_wrapper">
						{%for description_object in description_object_list %}
							<label class="radio_label"> <input class="radio_button" type="radio" name="selected_description" value="{{ description_object['_id'] }}"> {{ description_object['Description'] }}</label>
						{% endfor %}
				<br>
				</div>
				<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>